@mixin theme-light {
  $rgb-title: black !default;
  .title {
    color: $rgb-title;
  }
}
@mixin theme-dark {
  $rgb-title: rgb(86, 221, 245) !default;
  .title {
    color: $rgb-title;
  }
}
@mixin absolute($t: 50%, $l: 50%) {
  position: absolute;
  left: $l;
  top: $t;
}
@mixin absolute() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin layout100($unit) {
  @if $unit == '%' {
    width: 100%;
    height: 100%;
  } @else if $unit == 'v' {
    width: 100vw;
    height: 100vh;
  }
}

@mixin set-border($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}
@mixin text-ellipsis($size, $line) {
  // 必须同时设置 white-space: nowrap; 和 overflow: hidden; 才能使 text-overflow: ellipsis; 生效。
  // 如果文本中包含换行符，text-overflow: ellipsis; 只会对第一行文本生效。
  // 如果需要多行文本溢出时使用省略号，可以使用其他方法，例如 Flexbox 或 Grid 布局结合伪元素、line-clamp
  font-size: $size;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}
