html,
body,
/* .chromeframe {
    margin: 0.2em 0;
    background: black;
    color: #000;
    padding: 0.2em 0;
    box-sizing: border-box;
    overflow: hidden;
} */


#app {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#cesiumContainer {
    width: 100vw;
    height: 100vh;
}