#app {
  background-color: blanchedalmond;
  overflow: hidden;
  //主题
  &.body-theme-light {
    @include theme-light;
  }
  &.body-theme-dark {
    @include theme-dark;
  }
  //登录面板
  .login {
    margin: 0 auto;
    margin-top: calc(50vh - ($login-h * 0.5));
    box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.5);
  }
}
