.whole-page {
  width: 2600px;
  height: 1300px;
  overflow: hidden;
  background-image: url($bg-img);
  background-size: cover;
  background-repeat: no-repeat;
  //主题
  &.body-theme-light {
    @include theme-light;
  }
  &.body-theme-dark {
    @include theme-dark;
  }
  //登录面板
  .login {
    margin-top: calc(30vh - ($login-h * 0.5));
    margin-left: calc(75vw - ($login-w * 0.5));
    box-shadow: 10px 5px 10px 10px rgba(0, 0, 0, 0.5);
  }
}
