@import '@/assets/scss/_var.scss'; //not @import url('../assets/scss/_var.scss');
.login {
  width: $login-w;
  height: $login-h;
  position: relative;
  background-color: gray;
  .left {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    .header {
      color: red;
      .title {
        font-size: 20px;
      }
      .title1 {
        font-size: 12px;
      }
    }
    .container {
      width: 45%;
      height: 40%;
      position: absolute;
      top: 30%;
    }
    .footer {
    }
  }
  .right {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url($login-r-img);
    background-size: cover;
    .header {
    }
    .container {
    }
    .footer {
    }
  }
}
