.login {
  width: $login-w;
  height: $login-h;
  position: relative;
  background-color: rgb(227, 126, 231,0.5);
  // border-radius: 10%;
  .left {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .right {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url($login-r-img);
    background-size: cover;
  }
}
